@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  font-size: 10px;
  --orange: #fc9202;
}
body,
html {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}
.form-junction {
  width: 100%;
}
.login-grid {
  width: 100%;
  display: flex;
  align-items: center;
}
.logo {
  width: auto;
  height: 7rem;
  z-index: 100;
  position: absolute;
  top: 3.5rem;
  left: 3.5rem;
  object-fit: contain;
}
.hero-pc {
  width: max-content;
  height: 100vh;
  object-fit: contain;
  object-position: bottom;
}
.hero-mob {
  width: 100%;
  height: 35rem;
  display: none;
  object-fit: cover;
  object-position: top;
}
.login-box {
  width: 100%;
  max-width: 52.5rem;
  min-width: 52.5rem;
  height: 100%;
  min-height: 100vh;
  padding: 2.5rem 2.5rem 2.5rem 5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.line {
  width: 6.5rem;
  height: 3px;
  background-color: var(--orange);
}
.login-box > img {
  width: auto;
  height: 3.5rem;
  object-fit: contain;
  margin: 2rem 0 0 0;
}

.login-box h1 {
  font-size: 3rem;
  line-height: 3rem;
  color: #081735;
  font-weight: 600;
  margin: 3.5rem 0 0 0;
}
.login-box h2 {
  font-size: 1.5rem;
  color: #8f95b2;
  font-weight: 400;
  margin: 1.5rem 0;
}
.input-grp {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.input-grp label {
  font-size: 1.5rem;
  font-weight: 500;
  color: #081735;
  margin: 0 0 0.5rem 0;
  display: flex;
}
.input-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  border: 1px solid #d8dae5;
  padding: 1rem 1.5rem;
  border-radius: 0.65rem;
  margin: 0 0 1.5rem 0;
  transition: 0.35s;
}
.input-box:hover {
  border: 1px solid #919191;
}
.input-box:hover .input-icon {
  color: #919191;
}
.input-box:focus-within {
  border: 1px solid var(--orange);
}
.input-box:focus-within .input-icon {
  color: var(--orange);
}
.input-box span {
  cursor: pointer;
}
.input-box svg {
  object-fit: contain;
  font-size: 2rem;
  transition: 0.35s;
  color: #8f95b2;
}
.input-box input {
  width: 100%;
  border: 0;
  outline: 0;
  color: #081735;
  font-size: 1.5rem;
}
.input-box input::placeholder {
  color: #8f95b2;
}
.login-box a {
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--orange);
}
.login-box button {
  width: 100%;
  background-color: var(--orange);
  padding: 1rem;
  color: #fff;
  border-radius: 0.65rem;
  font-size: 1.5rem;
  outline: 0;
  border: 0;
  cursor: pointer;
  transition: 0.35s;
  margin: 1.5rem 0 5rem 0;
}
.login-box button:hover {
  box-shadow: 0px 5px 50px 1px rgba(0, 0, 0, 0.1);
}
.login-box button:active {
  box-shadow: 0px 5px 50px 1px rgba(0, 0, 0, 0);
  scale: 0.975;
}
.login-box p {
  width: 100%;
  text-align: center;
  font-size: 1.35rem;
  font-weight: 600;
  span {
    font-weight: 400;
  }
}
@media screen and (max-width: 1250px) {
  .hero-pc {
    display: none;
  }
  .hero-mob {
    display: block;
  }
  .login-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0;
  }
  .login-box {
    min-width: 75rem;
    max-width: 75rem;
    height: max-content;
    min-height: max-content;
    margin: 0 auto;
    padding: 0 2rem 2.5rem 2rem;
  }
}

@media screen and (max-width: 800px) {
  .login-box {
    min-width: 100%;
    max-width: 100%;
  }
  .hero-mob {
    height: 25rem;
    margin: 2.5rem 0 5rem 0;
  }
  .logo {
    position: relative;
    height: 4rem;
    top: 0;
    left: 0;
    margin: 2rem 0 0 2rem;
  }
  .login-box > img {
    height: 2.5rem;
  }
  .login-box h1 {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }
  .input-box input {
    padding: 0.25rem 0;
  }
}
